<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ateith.eortologio" >

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ateith.eortologio.MainActivity"
            android:label="Εορτολόγιο" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="ateith.eortologio.CalendarActivity"
            android:label="Ημερολόγιο"
            android:parentActivityName="ateith.eortologio.MainActivity" >

        </activity>

       <activity
            android:name="ateith.eortologio.NamesOnDate"
            android:label="Ονόματα"
            android:parentActivityName="ateith.eortologio.CalendarActivity" >
        </activity>
    </application>

</manifest>
